/* INÍCIO DAS CONFIGURAÇÕES GERAIS DO SITE*/
    html, body {
        margin: 0;
        padding: 0; /* Reset de margem, padding e font*/
         /* Importante para nao mostrar divisão das divs na mesma linha */
        background-image: url("../img/background.jpg");/* cor/imagem do fundo de todas as páginas */
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        min-height: 640px;
        font-family: 'Cinzel', Arial;
        color: white;
        
    }

.caminho li{
    list-style: none;
    display: inline-block;
    font-weight: 200;
}
.caminho a{
    color: WHITE;
}

/*Rodapé*/
footer p {
    color: darkred;
    text-align: center;
    font-size: 16px;
}
.rodape{
    background-color: black;
}

/*Botões*/
.botao{
    text-align: center;
}

/* FIM DAS CONFIGURAÇÕES GERAIS DO SITE*/


/* INICIO FORMATAÇÃO DA PÁGINA INDEX  */

    .home span{
        color: red;/* cor do "TARCISIO" */
        text-shadow: 2px 2px 2px #111;
    }
    .home div{
        display: inline-block; /*tudo que for div fica na mesma linha */
        height: 650px; /* tamanho de cada div */
    }

    .foto-perfil img {
        width: 350px;
        border-radius: 350px;
        margin-top: 100px;
        border: 2px solid;
        box-shadow: 3px 3px 3px rgba(0,0,0,.4);       
    }
    .foto-perfil{

        width: 40%; /* porcentagem do tamanho da largura do div em relação ao tamanho da tela*/
        text-align: center; /* centralizar imagem do perfil*/
        animation-name: perfil-animation;
        animation-duration: 1s;

    }
    .meu-perfil {

        vertical-align: top; /* div alinhado no topo*/
        width: 59%; /* porcentagem do tamanho da largura do div em relação ao tamanho da tela*/
        animation-name: titulo-animation;
        animation-duration: 2s;
    }

    .meu-perfil h1{
        font-size: 80px;
        margin-top: 200px;
        font-weight: 900; /* Largura da fonte*/
        text-shadow: 2px 2px 2px #111;
    }

    .meu-perfil h2 {
        font-size: 23px;
        margin-top: 20px; /* aproximar h2 do h1*/
        font-weight: 600; /* Largura da fonte*/
        text-shadow: 1px 1px 1px #111;
    }

#recentes{
    
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

#recentes p{
    font-family: 'Lora', serif;
    font-size: 18px;

}

.albuns{
    padding: 10px 0px 10px 0px;
}

/* FIM FORMATAÇÃO DA PÁGINA INDEX */


/*INÍCIO FORMATAÇÃO DA PÁGINA PORTFÓLIO*/
.miniatura {
    width: 300px;
    height: 300px;
    background-size: contain;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    overflow: hidden;
    border: 2px outset #9B9999;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
.miniatura a{
    text-decoration: none;
}

.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
}

.blackbox:hover{
    opacity: 0.8 ;  
    transition: 0.8s;  
}
.blackbox-text{
    text-align: center;
}
.blackbox-text h1{
    font-size: 18px;
    color : orangered;  
    text-transform: uppercase;
    margin: 0;

}
 .blackbox-text h2{ 
    margin-top: 0;
    font-size: 18px;
    font-weight: lighter;
    color:darkcyan;
    text-transform: none;
 }
 .trabalhos-pics{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px outset #9B9999;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);    
}

 .links-trabalhos {
     color: white;
 }
/*FIM FORMATAÇÃO DA PÁGINA PORTFÓLIO*/


/* INÍCIO FORMATAÇÃO DAS PÁGINA "CURRICULO E CONTATO" */
.principal{
    padding: 80px 180px 80px 180px;
    animation-name: principal-animation;
    animation-duration: 2s;
}
.fundoCurriculo{
    background-color: rgba(8, 8, 8, 0.8);
    padding: 10px;
}
.cv-foto{
    float: left;
    width: 280px;
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}
.principal h3 {
    font-size: 18px;
    
   }
.principal h2 {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bolder;
    color: red;
    text-align: center;
    
    text-shadow: 1px 1px 1px #111;
}
.boasvindas {
    text-align: center;
        color: red;/* cor das boas vindas */
}
.principal p{
    font-size: 18px;
    line-height: 24px;
   font-family: 'Lora', serif;
   
}

.social-img{
    width: 60px;
    margin-right: 15px;
}
/* FIM FORMATAÇÃO DAS PÁGINAS "CURRICULO  E CONTATO" */



/*Inicio animações*/
@keyframes perfil-animation{
    0% {opacity: 0; transform: translate(-20px, 0px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes titulo-animation{
    0% {opacity: 0; transform: translate(20px, 0px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}

@keyframes principal-animation{
    0% {opacity: 0; transform: translate(0px, -20px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}
@keyframes menu-animation{
    0% {opacity: 0; transform: translate(0px, -20px)}
    100% {opacity: 1; transform: translate(0px, 0px)}
}
/*Fim animações*/



@media (max-width:1000px){

/*pagina home*/

    .home div{
        display: block; /*tudo que for div fica na mesma linha */
        height: auto; /* tamanho de cada div */
        margin-top: 0;
    }

    .foto-perfil img {
        margin-top: 40px;
        max-width:60%;
    }
    
    .foto-perfil{
        width: 100%;
    }

    .meu-perfil{
        text-align: center;
        width: 100%;
        margin-bottom: 0px;
    }
    .meu-perfil h1{
        margin-top: 20px; 
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .meu-perfil h2{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        font-size: 16px;
    }

    #recentes{
        margin-top: 150px;
    }
    .albuns img{
        padding-bottom: 20px ;
    }

    /*fim pagina home*/

    /*página curriculo, contato e portfolio (exceto imagens) */
    .principal{
        padding: 10px 5% 40px 5%;
    }
    .principal p{
        text-align: center;
        line-height: 30px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-family: 'Saira Extra Condensed', sans-serif;
    }
    .cv-foto{
        float: none;
         max-width:100%;
         margin-left: 3px;
        margin-right: 7px;
        margin-bottom: 20px;
        box-shadow: 3px 3px 3px rgba(0,0,0,.4);
    }
    .principal h2 {
        margin-top: 25px;
        font-size: 20px;
        font-weight: bolder;
        color: red;
        text-align: center;
    }
    .social-img{
        margin-right: 0;
    }
    #skills {
        font-size: 30px;
        text-align: center;
    }
    #jobs{
        font-size: 30px;
        text-align: center;
    }
  
/* FIM FORMATAÇÃO DAS PÁGINAS "CURRICULO  E CONTATO" */

    .caminho li{
        font-size: 14px;
    }

/*Pagina portfolio*/
    .miniatura{
        max-width: 100%;
        background-size: auto, 100%;
    }
    .blackbox{
        opacity: 0.8;
    }

/*fim pagina portfolio*/